.top {
    background-color: darkolivegreen;
    color:wheat;
    text-align: center;
}

.message {
    background-color: lightgrey;
}

body {
    margin: 0px;
}

.all {
    background-image: url("record.png");
    background-repeat: round;
    padding: 1em;
}